<h1>Welcome to Meetings Reminder</h1>
<p>A Simple Service built on the Heroku Cloud, that sends out notifications when a meeting is due. Simple. Sassy. Gets the Work Done.</p>

<p>Before you can get going, you need to <%= link_to 'login', '/login' %></p>
